@using ProjectTrackerDataAccess.Models
@model Tuple<ProjectModel, List<FeatureModel>, List<IssueModel>>

@{
    ViewBag.Title = "Details";
}

<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {

            tabcontent[i].style.display = "none";  

                      
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Features')">Features</button>
  <button class="tablinks" onclick="openTab(event, 'Issues')">Issues</button>
  <button class="tablinks" onclick="openTab(event, 'UserStories')">User Stories</button>
 
</div>
@*
<div>
    @await Component.InvokeAsync("Feature", new { ProjectId = Model.Item1.Id })
</div>
*@


<div id="Features" class="tabcontent" style="display:block">
    <h3>Features</h3>
    
    <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th><a asp-controller="Feature" asp-action="Create" class="btn btn-primary">New Feature</a></th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Risk</th>
                    <th>Classification</th>
                    <th>Active</th>
                </tr>
                
            </thead>
            <tbody>

                @foreach(FeatureModel item in Model.Item2 )
                {
                    <tr>
                        <td width="20%">
                            <a asp-controller="Feature" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">🖉</a>
                            <a asp-controller="Feature" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">⌫</a>
                        </td>
                        <td width="20%">@item.Title</td>
                        <td width="20%">@item.PriorityId</td>
                        <td width="20%">@item.RiskId</td>
                        <td width="20%">@item.ClassificationId</td>
                        <td width="20%">@item.Active</td>
               
                       @*<td width="20%">  <a asp-controller="Feature" asp-action="Open" asp-route-Id="@item.Id" class="btn btn-primary">Open</a></td>*@
                    </tr>
                }
            </tbody>
    </table>
</div>

<div id="Issues" class="tabcontent" >
    <h3>Issues</h3>
    <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th><a asp-controller="Issue" asp-action="Create" class="btn btn-primary">New Issue</a></th>
                    @* <th>Id</th>*@
                    <th>Title</th>
                    <th>Status</th>
                    <th>AssignedTo</th>
                </tr>
                
            </thead>
            <tbody>

                @foreach(IssueModel item in Model.Item3 )
                {
                    <tr>
                        <td width="25%">
                            <a asp-controller="Issue" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">🖉</a>
                            <a asp-controller="Issue" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">⌫</a>
                        </td>
                        @* <td width="20%">@item.Id</td>*@
                        <td width="25%">@item.Title</td>
                        <td width="25%">@item.Status</td>
                        <td width="25%">@item.AssignedTo</td>
                       
                    </tr>
                }
            </tbody>
    </table>
</div>

<div id="UserStories" class="tabcontent">
  <h3>User Stories</h3>
  <p>test</p>
</div>
<br />
<br />



<br />

<div>
    
    <a asp-action="Index">Back to Project List</a>
</div>
