@model IEnumerable<ProjectModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Projects List</h2>
        </div>
       
    </div>

    <br />
   <p></p> 

   @if(Model.Count() > 0)
   {
       <table class="table table-bordered table-striped" style="width:100%">
           <thead>
               <tr>
                   <th><a asp-controller="Project" asp-action="Create" class="btn btn-primary">+</a></th>
                   <th>Name</th>
                   <th>Description</th>
                   <th>Active</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               @foreach(var item in Model)
               {
                   <tr>
                       <td width="20%">
                            <a asp-controller="Project" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">🖉</a>
                            <a asp-controller="Project" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">⌫</a>
                       </td>
                       <td width="20%">@item.Name</td>
                       <td width="20%">@item.Description</td>
                       <td width="20%">@item.Active</td>
                       <td width="20%">
                           <a asp-controller="Project" asp-action="Details" asp-route-Id="@item.Id" class="btn btn-primary">Open</a>
                       </td>
                   </tr>
               }
           </tbody>
       </table> 
   }
   else
   {
    <p>No items created yet</p>
   }

</div>